{
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "import"
  ],
  "rules": {
    "import/prefer-default-export": 0,
    "import/no-named-as-default": 0,
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  }
}
